F2P_PROJECT/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
F2P_PROJECT/Assets/Plugins/FMOD/platforms/mac/lib/fmodstudio.bundle/Contents/Info.plist
F2P_PROJECT/Assets/Plugins/FMOD/platforms/mac/lib/fmodstudioL.bundle/Contents/Info.plist
F2P_PROJECT/Assets/Plugins/FMOD/platforms/mac/lib/resonanceaudio.bundle/Contents/Info.plist
